 <!DOCTYPE html>
<html>
	<head>
		<title>Muxu muxu jeu</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		
	</head>
	<body>
	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.0';
			  fjs.parentNode.insertBefore(js, fjs);
			}
			(document, 'script', 'facebook-jssdk'));
		</script>
	<!-- /Load Facebook SDK for JavaScript -->

		<div id="content">
			<div class="divTop">
				<!-- niveau -->
				<div>
					<p>Niveau {{ niveauActuel }}</p>
				</div>
				<!-- compteur -->
				<div>
					<p>Compteur <br><span :class="maxTimer? 'fontMax' : '' ">{{ seconds }}</span></p>
				</div>
				<!-- nb mots restant -->
				<div>
					<p>Mots corrects<br>
					{{ motsOkConsecutifs }} / {{ nbmotsConsecutifs }}</p>
				</div>
			</div>
			<!-- Input pseudo -->
			<div class="inputCentral" v-if="!pseudo">
				<label>Quel est ton pseudo?</label>
				<input type="text" placeholder="Ton pseudo" v-model="playerName">
				<button v-if="" type="submit" @click="recPseudo">Valider</button>
			</div>
			<!-- INPUT CENTRAL -->
			<div class="inputCentral" v-else="pseudo">
				<label>{{ word }}</label>
				<input ref="answer" :class="!success ? 'bgRed' : ''" type="text" placeholder="Tapez ici le plus rapidement possible" v-model="motSaisi" @keyup="control">
				<button v-if="!jeu" type="submit" @click="start">Jouer</button>
			</div>
			<!-- Résultats finaux -->
			<div class="results" v-if="fin">
				<p>Niveau atteint: {{ niveauMaxAtteint }} </p>
				<p>Nombre de mots saisis correctement: {{ motsCorrectsSaisis }}</p>
				<div class="fb-share-button" data-href="#" data-layout="button" data-size="small" data-mobile-iframe="false"><a target="_blank" href="#" class="fb-xfbml-parse-ignore">Partager sur Facebook</a></div>
			</div>
			<!-- Meilleurs scores-->
			<div class="bestScores">
				<h2>Top 5</h2>
				<ul>
					<li v-for="(score, index) in bestScores">
						<span class="capitalize">{{ score.nom }}</span> - {{ score.score }} mot<span v-if="score.pluriel">s</span>
						</table>
					</li>
				</ul>
				</table>
			</div>
		</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>	
	<script type="text/javascript" src="app.js"></script>
	</body>
</html> 